body{
  background-color:aliceblue;
}
.container{
  padding:40px;
  height: 90vh;
  display:flex;
  justify-content: center;
  justify-items: center;
 

}
.crypto-card
{
  min-width: 400px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
h1{
  text-align: center;
}
.select-value{
  width:150px;

}
.input-value{
  height: 50px;
}
.select-box{
  display: flex;
  gap:40px;
  justify-content: space-between;
  align-items: center;  
}